/* Global  */
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 900;
}

p {
  color: grey;
}

/* Screen Responsivity */
@media (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
    width: 60%;
  }
}

/* Headings */
.big-heading {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 1.5rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.navbar-nav {
  margin-left: auto;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

/* Dowload Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Title Image */
.title-image {
  width: 18%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/* Features */
#features {
  position: relative;
}

.feature-title {
  line-height: 1.5rem;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials */
#testimonials {
  background-color: #ef8172;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin-top: 20px;
}

.testimonial-text {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.5;
}

/* Pricing */
#pricing {
  padding: 100px;
}

.price-title {
  line-height: 1.5rem;
}

.price-text {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

.pricing-btn {
  width: 100%;
}

/* Press */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 50px 50px;
}

/* Footer Icons */
.social-icon {
  margin: 20px 10px;
}
